* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to right,
    rgba(7, 1, 24, 0.893),
    rgba(151, 22, 31, 0.753),
    rgb(4, 7, 66)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2{
    text-decoration: white;
}
main {
  width: 400px;
  height: 200px;
  background-color: rgba(104, 104, 104, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

#input {
  width: 240px;
  height: 40px;
  text-align: center;
}

#btn {
  width: 200px;
  height: 40px;
}

#words {
  width: 270px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.735);
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
